<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script th:if="${status}">
    window.onload = function() {
       Swal.fire({
            title: '[[${status[0]}]]',
            text:  '[[${status[1]}]]',
            icon: '[[${status[0]}]]',
            confirmButtonText: 'OK'
        });
    }
</script>
<script>
    function hapusData(idData) {
       var form = document.getElementById(idData);
       Swal.fire({
            title: 'Apakah Anda Yakin ?',
            text:  'Proses tidak dapat dibatalkan',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batalkan',
            confirmButtonText: 'Hapus'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        })
   }
</script>
</body>
</html>