<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="admin">
    <div class="card>">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><a href="../../admin/penerbit">Penerbit</a></li>
                <li class="list-group-item"><a href="../../admin/kategori">Kategori</a></li>
                <li class="list-group-item"><a href="../../admin/buku">Buku</a></li>
                <li class="list-group-item"><a href="../../admin/pengadaan">Pengadaan</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>